html {
	height: 100%;
	background-color: #f4f4f4;
}

body {
	height: 100%;
	font: normal 62.5% 'OpenSans_Regular', Verbana, Arial, Helvetica, sans-serif;
	color: #333333;
}
/* Верхний баннер */
.upper-header {
	background-color: #FFFFFF;
	border-bottom: 2px #ebedef solid;
	width: 100%;
}
.content {
	margin: 0 auto;
	width: 1100px;
}
/* Блок социальных иконок */
.upper-header-left {
	float: left;
	width: 120px;
	height: 77px;
}
.social-head {
	margin: 0;
	padding: 0;
	margin: 26px 0;
}
.social-head__item {
	list-style: none;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-left: 14px;
}
.social-head__item:first-child {
	margin-left: 0;
}
.social-head-tab__link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
}
.social-head-tab__link.social-head-tab__link_fb {
	background: url(../img/Icon-Facebook-circle.png) no-repeat;
}
.social-head-tab__link.social-head-tab__link_fb:hover {
	background: url(../img/Icon-Facebook-circle-hover.png) no-repeat;
}
.social-head-tab__link.social-head-tab__link_tw {
	background: url(../img/Icon-tw-circle.png) no-repeat;
}
.social-head-tab__link.social-head-tab__link_tw:hover {
	background: url(../img/Icon-tw-circle-hover.png) no-repeat;
}
.social-head-tab__link.social-head-tab__link_vk {
	background: url(../img/Icon-vk-circle.png) no-repeat;
}
.social-head-tab__link.social-head-tab__link_vk:hover {
	background: url(../img/Icon-vk-circle-hover.png) no-repeat;
}

/* Правый блок Верхнего баннера */

.upper-header-right {
	float: right;
	width: 445px;
	height: 77px;
	position: relative;
}
.map-point {
	float: left;
	position: relative;
	width: 205px;
	top: 50%;
	bottom: 50%;
	margin-top: -12px;
}
.map-point:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 16px;
	background: url(../img/icon-mappin.png) no-repeat 0 0;
	top: 3px;
	left: -20px;
}
.map-point__link {
	font-family: OpenSans_SemiBold;
	font-size: 1.4em;
	text-decoration: none;
	color: #333333;
}
.phone-point {
	float: right;
	position: relative;
	width: 160px;
	top: 50%;
	bottom: 50%;
	margin-top: -14px;
}
.phone-point__link {
	font-family: OpenSans_Bold;
	font-size: 1.8em;
	text-decoration: none;
	color: #333333;
}
.phone-point:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 16px;
	background: url(../img/icon-phone.png) no-repeat 0 0;
	top: 4px;
	left: -20px;
}

/* Нижний баннер */

.low-header {
	background-color: #f4f4f4;
	height: 95px; 
}
.low-header-left {
	float: left;
	width: 238px;
	height: 38px;
	margin: 31px 0 26px 0;
}
.logo {
	width: 238px;
	height: 38px;
}
.low-header-right {
	float: right;
	width: 807px;
}
.search-form {
	float: left;
	position: relative;
	width: 368px;
	height: 34px;
	margin: 31px 0 30px 0;
}
.search-form__input {
	position: absolute;
	top: 0;
	left: 0;
	height: 34px;
	width: 290px;
	border: 1px #dee1e4 solid;
	border-right-width: 0;
	border-radius: 5px 0 0 5px;
	color: #7f7f7f;
	font-family: OpenSans_Ligth;
	font-size: 1.4em;
	box-sizing: border-box;
	padding-left: 16px;
}
.search-form__button {
	position: absolute;
	top: 0;
	right: 0;
	height: 34px;
	width: 80px;
	margin-left: 0;
	background-color: #ff6600; 
	border: 0;
	border-radius: 0 5px 5px 0;
	font-family: OpenSans_SemiBold;
	font-size: 1.6em;
	color: #ffffff;
}
.menu-head {
	float: right;
	width: 390px;
	padding: 0;
	margin: 38px 0 34px 0;
}
.menu-head__item {
	display: inline-block;
	list-style: none;
	margin-left: 30px; 
}
.menu-head__item:first-child {
	margin-left: 0;
} 

.menu-item__link {
	font-family: OpenSans_SemiBold;
	font-size: 1.6em;
	color: #333333
}
.menu-item__link:hover {
	color: #ff6600
}

/* Навигация верхняя */

.navigation {
	background-color: #FFFFFF;
	height: 52px;
	border-bottom: 2px #ebedef solid;
	margin-bottom: 28px;
}
.navigation-list {
	margin: 0;
	padding: 0;
	height: 52px;
	margin-left: 8px;
}
.navigation-list__item {
	list-style: none;
	display: inline-block;
	margin-left: -3px;
}
.navigation-item_current {
	background-color: #ff6600;
}
.navigation-list__item:hover {
	background-color: #e4e2e2;
} 
.navigation-item_current:hover {
	background-color: #ff6600;
}
.navigation-item__link {
	font-family: OpenSans_regular;
	font-size: 1.6em;
	text-decoration: none;
	color: #333333;
	display: block;
	padding: 15px 15px;
}
.navigation-item__link_current {
	font-family: OpenSans_SemiBold;
	color: #ffffff;
}

/* Основной блок */

.main-content {
	background-color: #f4f4f4;
	height: 100%;
}
.page-path {
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	color: #333333;
	margin-bottom: 20px; 
}
.page-path__link {
	text-decoration: none;
	color: #333333;
	margin: 0 3px;
}
.page-path__link:hover {
	color: #ff6600;
	text-decoration: underline;
}
.page-title {
	margin-bottom: 28px;
}
.page-title__h1 {
	font-family: OpenSans_Bold;
	font-size: 2.0em;
}
/* Основной блок - Левая колонка */

.main-content-left {
	float: left;
	width: 335px;
	margin-bottom: 30px;
}

/* Блок категорий */

.category-upper {
	border: 1px #dee1e4 solid;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.category-upper__item {
	list-style: none;
	width: 100%;
	background-color: #fbfbfb;
	border-top: 1px #dee1e4 solid;
}
.category-upper__item:first-child {
	border-top: 0;
	border-radius: 4px 4px 0 0;
}
.category-upper__item:last-child {
	border-radius: 0 0 4px 4px;
}
.category-upper-item__link {
	display: block;
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	color: #333333;
	text-decoration: none;
	padding: 12px 30px 14px;
}
.category-upper-item_current {
	background-color: #d9e5ea;
}

/* Блок фильтров */

.filters {
	border: 1px #dee1e4 solid;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.filters__item {
	list-style: none;
	width: 100%;
	background-color: #fbfbfb;
	border: 0;
	border-top: 1px #dee1e4 solid;
}
.filters__item:first-child {
	border-top: 0;
	border-radius: 4px 4px 0 0;
}
.filters__item:last-child {
	border-radius: 0 0 4px 4px;
}
.filters-item__head:hover {
	background-color: #d9e5ea
}
.filter-item-head__title {
	display: block;
	font-family: OpenSans_Semibold;
	font-size: 1.4em;
	color: #333333;
	text-decoration: none;
	padding: 12px 30px 14px;
}
.filters-item__body {
	display: none;
}

/* Основной блок - Правая колонка */

.main-content-right {
	float: right;
	width: 745px;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}
.head-main-content {
	height: 51px;
	width: 100%;
	background-color: #e4ebee;
	border: 1px #dee1e4 solid; 
	border-radius: 5px;
}
.sort-block {
	float: left;
	width: 300px;
	margin: 9px 23px;
}
.sort-block__text {
	display: inline-block;
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	padding: 0px 8px 0px 0px;
}
.sort-block__select {
	display: inline-block;
	height: 30px;
	width: 144px;
	border: 1px #ebedef solid;
	border-top: 1px #dddddd solid;
	border-radius: 3px;
	font-family: OpenSans_Ligth;
	font-size: 1.4em;
	color: #7f7f7f;
	padding: 0px 0px 0px 0px;
}
.head-main-content__view {
	float: right;
	width: 263px;
}
.view-block__text {
	display: inline-block;
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	margin-right: 15px;
}
.view-points {
	display: inline-block;
	width: 155px;
	height: 51px;
	margin: 0;
	padding: 0; 
}
.view-points__item {
	list-style: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 20px 16px 16px;
	border-left: 1px #dee1e4 solid; 
}
.view-points-item__link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
}
.view-points-item__link_all {
	background: url(../img/view1.png) no-repeat;
}
.view-points-item__link_tab {
	background: url(../img/view2.png) no-repeat;
}
.view-points-item__link_list {
	background: url(../img/view3.png) no-repeat;
}

/* Блок информации */

.info-page {
	clear: both;
	margin-bottom: 30px;
}
.info-page__title {
	font-family: OpenSans_Bold;
	font-size: 2.0em;
	color: #333333;
	margin-bottom: 10px;
}
.info-page__text {
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	color: #333333
}


/* Прибиваем футер к низу */
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	height: auto!important;
	/* overflow: hidden; */
}
.wrapper:after {
	content: "";
	height: 220px;
	display: block;
}
.page-footer {
	height: 220px;
	margin-top: -220px;
	min-width: 1100px;
	background: url(../img/bg-foot.jpg);
}

/* Футер */

.page-footer__left {
	float: left;
	width: 240px;
	margin-top: 70px;
}
.page-footer__right {
	float: right;
	width: 590px;
}

/* Блок социальных иконок в подвале */

.social-foot {
	margin: 35px 4px 20px 0;
	padding: 0;
	float: right;
}
.social-foot__item {
	list-style: none;
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-left: 26px;
}
.social-foot__item:first-child {
	margin-left: 0;
}
.social-foot-tab__link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;

}
.social-foot-tab__link.social-foot-tab__link_fb {
	background: url(../img/Icon-foot-fb-circle.png) no-repeat;
}
.social-foot-tab__link.social-foot-tab__link_fb:hover {
	background: url(../img/Icon-foot-fb-circle-hover.png) no-repeat;
}
.social-foot-tab__link.social-foot-tab__link_tw {
	background: url(../img/Icon-foot-tw-circle.png) no-repeat;
}
.social-foot-tab__link.social-foot-tab__link_tw:hover {
	background: url(../img/Icon-foot-tw-circle-hover.png) no-repeat;
}
.social-foot-tab__link.social-foot-tab__link_vk {
	background: url(../img/Icon-foot-vk-circle.png) no-repeat;
}
.social-foot-tab__link.social-foot-tab__link_vk:hover {
	background: url(../img/Icon-foot-vk-circle-hover.png) no-repeat;
}

/* Нижняя навигация */

.navigation-list-foot {
	float: right;
	width: 100%;
	text-align: right;
	margin-right: 4px; 
}
.navigation-list-foot__item {
	list-style: none;
	display: inline-block;
	margin-left: 24px;
	margin-bottom: 16px;
}
.navigation-item-foot__link {
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	color: #ffffff;
}
.page-footer__lower {
	clear: both;
	border-top: 1px #494949 solid; 
	width: 100%;
	text-align: center;
	padding: 5px 0px;
}
.copyright {
	font-family: OpenSans_Regular;
	font-size: 1.2em;
	color: #ffffff;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}