@charset "UTF-8";
/* ╨Ш╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤П ╨╛ ╨┐╤А╨╛╨┤╤Г╨║╤В╨╡ */
.products {
  margin: 0 auto;
  padding: 0;
}

/* ╨Я╨╛╨┤╤А╨╛╨▒╨╜╤Л╨╣ ╨▓╨╕╨┤ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П */
.products_all {
  border-radius: 5px;
}
.products_all .products__item {
  width: 100%;
  list-style: none;
  background-color: #fbfbfb;
  border: 1px #dee1e4 solid;
  border-top: 0;
  padding-top: 19px;
  margin: 0;
  position: relative;
}
.products_all .products__item:first-child {
  border-top: 1px #dee1e4 solid;
  border-radius: 5px 5px 0 0;
}
.products_all .products__item:last-child {
  border-radius: 0 0 5px 5px;
}
.products_all .products__item:hover {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.products_all .product__wrap-img-artic {
  float: left;
  width: 179px;
  padding: 0;
  margin-bottom: 15px;
}
.products_all .product__wrap-img-big {
  width: 135px;
  height: 135px;
  background-color: #ffffff;
  border: 1px #dee1e4 solid;
  margin: 0 auto;
  margin-bottom: 14px;
  position: relative;
}
.products_all .product__wrap-img-big .product-slide-img-current {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 125px;
  max-height: 125px;
}
.products_all .product__slide {
  width: 138px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2px;
}
.products_all .product__slide .product-slide__img {
  list-style: none;
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  border: 1px #dee1e4 solid;
  width: 34px;
  height: 34px;
  margin-left: 12px;
}
.products_all .product__slide .product-slide__img:first-child {
  margin-left: 0;
}
.products_all .product__slide .product-slide__img:hover {
  border: 1px red solid;
}
.products_all .product__slide .product-slide-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 30px;
  max-height: 30px;
}
.products_all .product__slide .product-slide__link {
  display: block;
  width: 100%;
  height: 100%;
}
.products_all .product__article {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: OpenSans_Bold;
  color: #7f7f7f;
}
.products_all .product__article_number {
  font-size: 1.16em;
  font-family: OpenSans_SemiBold;
  color: #333333;
}
.products_all .product__wrap-info {
  float: left;
  width: 400px;
  margin-bottom: 15px;
}
.products_all .product__type {
  display: none;
}
.products_all .product__title {
  font-family: OpenSans_SemiBold;
  font-size: 1.6em;
  color: #010101;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
}
.products_all .product__text {
  font-family: OpenSans_Regular;
  font-size: 1.4em;
  color: #333333;
  padding: 0;
  margin: 0;
  line-height: 1.45em;
  margin-bottom: 14px;
}
.products_all .product__charact {
  display: none;
}
.products_all .product__rating {
  position: relative;
  width: 134px;
  height: 15px;
  margin-bottom: 6px;
}
.products_all .product__rating .product-rating__stars {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
.products_all .product__rating .product-rating__stars .product-rating__stars_red {
  list-style: none;
  display: inline-block;
  text-indent: -9999px;
  background: url('../../img/other-s43ebcc9bef.png') -500px 0 no-repeat;
  height: 15px;
  width: 16px;
}
.products_all .product__rating .product-rating__stars .product-rating__stars_white {
  list-style: none;
  display: inline-block;
  text-indent: -9999px;
  background: url('../../img/other-s43ebcc9bef.png') -586px 0 no-repeat;
  height: 20px;
  width: 21px;
}
.products_all .product__rating .product-rating__number {
  position: absolute;
  right: 0;
  bottom: -1px;
  color: #fbfbfb;
  font-size: 1.13em;
  font-family: OpenSans_SemiBold;
  background-color: #b5beca;
  border-radius: 7px;
  width: 27px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}
.products_all .product__wrap-info_right {
  position: absolute;
  top: 20px;
  bottom: 17px;
  right: 29px;
  width: 110px;
  padding-left: 17px;
  border-left: 1px #dee1e4 solid;
}
.products_all .product__wrap-price-shop {
  position: absolute;
  right: 0;
  width: 110px;
  height: 100%;
}
.products_all .product__wrap-price-shop .product__price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.0em;
  font-family: OpenSans_SemiBold;
  color: #333333;
}
.products_all .product__wrap-price-shop .product__price .product__price_rouble {
  font-family: Rouble;
}
.products_all .product__wrap-price-shop .product__presence {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: 16px;
  font-size: 1.2em;
  font-family: OpenSans_Bold;
  color: #7f7f7f;
}
.products_all .product__wrap-price-shop .product__presence:after {
  content: '';
  position: absolute;
  background: url('../../img/other-s43ebcc9bef.png') 0 0 no-repeat;
  height: 7px;
  width: 7px;
  top: 5px;
  left: -16px;
}
.products_all .product__wrap-price-shop .product__shop-button {
  position: absolute;
  right: 0;
  bottom: 23px;
  background-color: #ff6600;
  color: #FFFFFF;
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  border-radius: 5px;
  border: 0;
  height: 33px;
  width: 103px;
}

/* ╨в╨░╨▒╨╗╨╕╤З╨╜╤Л╨╣ ╨▓╨╕╨┤ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П*/
.products_tab .products__item {
  width: 233px;
  list-style: none;
  display: inline-block;
  background-color: #fbfbfb;
  border: 1px #dee1e4 solid;
  border-radius: 5px;
  padding-top: 19px;
  margin: 0 17px 17px 0;
}
.products_tab .products__item:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.products_tab .products__item:nth-child(3n) {
  margin-right: 0;
}
.products_tab .product__wrap-img-artic {
  width: 138px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 8px;
}
.products_tab .product__wrap-img-big {
  width: 135px;
  height: 135px;
  background-color: #ffffff;
  border: 1px #dee1e4 solid;
  margin-bottom: 14px;
  position: relative;
}
.products_tab .product__wrap-img-big .product-slide-img-current {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 125px;
  max-height: 125px;
}
.products_tab .product__slide {
  width: 138px;
  padding: 0;
  margin: 0;
}
.products_tab .product__slide .product-slide__img {
  list-style: none;
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  border: 1px #dee1e4 solid;
  width: 34px;
  height: 34px;
  margin-left: 12px;
}
.products_tab .product__slide .product-slide__img:first-child {
  margin-left: 0;
}
.products_tab .product__slide .product-slide__img:hover {
  border: 1px red solid;
}
.products_tab .product__slide .product-slide-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 30px;
  max-height: 30px;
}
.products_tab .product__slide .product-slide__link {
  display: block;
  width: 100%;
  height: 100%;
}
.products_tab .product__article {
  display: none;
}
.products_tab .product__type {
  display: none;
}
.products_tab .product__title {
  margin: 0 auto;
  width: 150px;
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 3px;
  font-weight: normal;
}
.products_tab .product__text {
  display: none;
}
.products_tab .product__charact {
  margin: 0 auto;
  padding: 0;
  width: 213px;
  margin-bottom: 10px;
}
.products_tab .product__charact .product-charact__item {
  list-style: none;
  position: relative;
  height: 20px;
  width: 100%;
}
.products_tab .product__charact .product-charact__item .product-charact-item__left {
  position: absolute;
  left: 4px;
  height: 20px;
  line-height: 20px;
  font-family: OpenSans_Regular;
  font-size: 1.4em;
}
.products_tab .product__charact .product-charact__item .product-charact-item__rigth {
  position: absolute;
  right: 4px;
  height: 20px;
  line-height: 20px;
  font-family: OpenSans_Regular;
  font-size: 1.4em;
}
.products_tab .product__charact .product-charact__item:nth-child(odd) {
  background-color: #e6e6e6;
}
.products_tab .product__rating {
  position: relative;
  width: 134px;
  height: 15px;
  margin: 0 auto;
  margin-bottom: 6px;
}
.products_tab .product__rating .product-rating__stars {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
.products_tab .product__rating .product-rating__stars .product-rating__stars_red {
  list-style: none;
  display: inline-block;
  text-indent: -9999px;
  background: url('../../img/other-s43ebcc9bef.png') -500px 0 no-repeat;
  height: 15px;
  width: 16px;
}
.products_tab .product__rating .product-rating__stars .product-rating__stars_white {
  list-style: none;
  display: inline-block;
  text-indent: -9999px;
  background: url('../../img/other-s43ebcc9bef.png') -586px 0 no-repeat;
  height: 20px;
  width: 21px;
}
.products_tab .product__rating .product-rating__number {
  position: absolute;
  right: 0;
  bottom: -1px;
  color: #fbfbfb;
  font-size: 1.13em;
  font-family: OpenSans_SemiBold;
  background-color: #b5beca;
  border-radius: 7px;
  width: 27px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}
.products_tab .product__wrap-price-shop {
  position: relative;
  width: 210px;
  height: 63px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.products_tab .product__wrap-price-shop .product__price {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 2.0em;
  font-family: OpenSans_SemiBold;
  color: #333333;
}
.products_tab .product__wrap-price-shop .product__price .product__price_rouble {
  font-family: Rouble;
}
.products_tab .product__wrap-price-shop .product__presence {
  position: absolute;
  left: 9px;
  bottom: 12px;
  font-size: 1.2em;
  font-family: OpenSans_Bold;
  color: #7f7f7f;
  margin-left: 16px;
}
.products_tab .product__wrap-price-shop .product__presence:after {
  content: '';
  position: absolute;
  background: url('../../img/other-s43ebcc9bef.png') 0 0 no-repeat;
  height: 7px;
  width: 7px;
  top: 5px;
  left: -16px;
}
.products_tab .product__wrap-price-shop .product__shop-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff6600;
  color: #FFFFFF;
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  border-radius: 5px;
  border: 0;
  height: 33px;
  width: 103px;
}

/* ╨Т╨╕╨┤ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П ╤Б╨┐╨╕╤Б╨║╨╛╨╝*/
.products_list {
  border-radius: 5px;
}
.products_list .products__item {
  width: 100%;
  list-style: none;
  background-color: #fbfbfb;
  border: 1px #dee1e4 solid;
  border-top: 0;
  padding-top: 19px;
  padding-bottom: 12px;
  margin: 0;
  position: relative;
}
.products_list .products__item:first-child {
  border-top: 1px #dee1e4 solid;
  border-radius: 5px 5px 0 0;
}
.products_list .products__item:last-child {
  border-radius: 0 0 5px 5px;
}
.products_list .products__item:hover {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.products_list .product__wrap-img-artic {
  float: left;
  width: 128px;
  padding: 0;
  margin-bottom: 0px;
}
.products_list .product__wrap-img-big {
  display: none;
}
.products_list .product__slide {
  display: none;
}
.products_list .product__article {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: OpenSans_Bold;
  color: #7f7f7f;
}
.products_list .product__article_number {
  font-size: 1.16em;
  font-family: OpenSans_SemiBold;
  color: #333333;
}
.products_list .product__wrap-info {
  float: left;
  width: 295px;
  margin-bottom: 0;
}
.products_list .product__type {
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  color: #000000;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.products_list .product__title {
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  color: #000000;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}
.products_list .product__text {
  display: none;
}
.products_list .product__charact {
  display: none;
}
.products_list .product__rating {
  display: none;
}
.products_list .product__wrap-info_right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  width: 310px;
  height: 100%;
}
.products_list .product__wrap-price-shop {
  position: absolute;
  right: 0;
  top: 10px;
  width: 310px;
  height: 100%;
}
.products_list .product__wrap-price-shop .product__price {
  position: absolute;
  top: 3px;
  font-size: 2.0em;
  font-family: OpenSans_SemiBold;
  color: #333333;
  text-align: right;
  width: 82px;
}
.products_list .product__wrap-price-shop .product__price .product__price_rouble {
  font-family: Rouble;
}
.products_list .product__wrap-price-shop .product__presence {
  position: absolute;
  right: 125px;
  top: 10px;
  font-size: 1.2em;
  font-family: OpenSans_Bold;
  color: #7f7f7f;
  margin-left: 16px;
}
.products_list .product__wrap-price-shop .product__presence:after {
  content: '';
  position: absolute;
  background: url('../../img/other-s43ebcc9bef.png') 0 0 no-repeat;
  height: 7px;
  width: 7px;
  top: 5px;
  left: -16px;
}
.products_list .product__wrap-price-shop .product__shop-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff6600;
  color: #FFFFFF;
  font-family: OpenSans_SemiBold;
  font-size: 1.4em;
  border-radius: 5px;
  border: 0;
  height: 33px;
  width: 103px;
}

.wrap-pages {
  clear: both;
  width: 100%;
  position: relative;
}
.wrap-pages .wrap-pages__pages.pages {
  position: absolute;
  right: 0;
}
.wrap-pages .page__item.page-item {
  list-style: none;
  display: inline-block;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #fefefe;
  border: 1px #c8c8c8 solid;
  border-radius: 4px;
}
.wrap-pages .page__item.page-item:hover {
  background-color: #e0e0e0;
}
.wrap-pages .page-item__link {
  display: block;
  color: #7f7f7f;
  font-family: OpenSans_Bold;
  font-size: 1.2em;
  text-decoration: none;
}
.wrap-pages .page-item__link:hover {
  text-decoration: underline;
}
