@charset "UTF-8";
/* ╨С╨╗╨╛╨║ ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╨╕ */
.info-page {
  clear: both;
  margin-bottom: 30px;
}

.info-page__title {
  font-family: OpenSans_Bold;
  font-size: 2.0em;
  color: #333333;
  margin-bottom: 10px;
}

.info-page__text {
  font-family: OpenSans_Regular;
  font-size: 1.4em;
  color: #333333;
}
