@charset "UTF-8";
/* ╨Ю╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╨▒╨╗╨╛╨║ */
.main-content {
  background-color: #f4f4f4;
  height: 100%;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╨▒╨╗╨╛╨║ - ╨Ы╨╡╨▓╨░╤П ╨║╨╛╨╗╨╛╨╜╨║╨░ */
.main-content-left {
  float: left;
  width: 335px;
  margin-bottom: 30px;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╨▒╨╗╨╛╨║ - ╨Я╤А╨░╨▓╨░╤П ╨║╨╛╨╗╨╛╨╜╨║╨░ */
.main-content-right {
  float: right;
  width: 745px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
