@charset "UTF-8";
/* ╨С╨╗╨╛╨║ ╤Б╨╛╤А╤В╨╕╤А╨╛╨▓╨║╨╕ ╨╕ ╤А╨╡╨╢╨╕╨╝╨░ ╨┐╤А╨╛╤Б╨╝╨╛╤В╤А╨░ ╨║╨╛╨╜╤В╨╡╨╜╤В╨░ */
.head-main-content {
  height: 51px;
  width: 100%;
  background-color: #e4ebee;
  border: 1px #dee1e4 solid;
  border-radius: 5px;
  margin-bottom: 22px;
}

.sort-block {
  float: left;
  width: 300px;
  margin: 9px 23px;
}
.sort-block .sort-block__text {
  display: inline-block;
  font-family: OpenSans_Regular;
  font-size: 1.4em;
  padding: 0px 8px 0px 0px;
}
.sort-block .sort-block__select {
  display: inline-block;
  height: 30px;
  width: 144px;
  border: 1px #ebedef solid;
  border-top: 1px #dddddd solid;
  border-radius: 3px;
  font-family: OpenSans_Ligth;
  font-size: 1.4em;
  color: #7f7f7f;
  padding: 0px 0px 0px 0px;
}

.head-main-content__view {
  float: right;
  width: 263px;
}
.head-main-content__view .view-block__text {
  display: inline-block;
  font-family: OpenSans_Regular;
  font-size: 1.4em;
  margin-right: 15px;
}
.head-main-content__view .view-points {
  display: inline-block;
  width: 155px;
  height: 51px;
  margin: 0;
  padding: 0;
}
.head-main-content__view .view-points__item {
  list-style: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 20px 16px 16px;
  border-left: 1px #dee1e4 solid;
}
.head-main-content__view .view-points__link {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}
.head-main-content__view .view-points__link_all {
  background: url('../../img/other-s6c32c8da3e.png') -686px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_all-current {
  background: url('../../img/other-s6c32c8da3e.png') -600px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_all:hover {
  background: url('../../img/other-s6c32c8da3e.png') -600px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_tab {
  background: url('../../img/other-s6c32c8da3e.png') -1030px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_tab-current {
  background: url('../../img/other-s6c32c8da3e.png') -944px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_tab:hover {
  background: url('../../img/other-s6c32c8da3e.png') -944px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_list {
  background: url('../../img/other-s6c32c8da3e.png') -858px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_list-current {
  background: url('../../img/other-s6c32c8da3e.png') -772px 0 no-repeat;
  height: 16px;
  width: 16px;
}
.head-main-content__view .view-points__link_list:hover {
  background: url('../../img/other-s6c32c8da3e.png') -772px 0 no-repeat;
  height: 16px;
  width: 16px;
}
