extends ../main

block title
	| Главная страница

block content			
	.page-path 
		a(href="#").page-path__link Главная
		&raquo;
		a(href="#").page-path__link Каталог
	.page-title
		h1.page-title__h1 Мобильные телефоны
	.main-content-left
		include ../_common/_content_category.jade
		include ../_common/_content_filters.jade
	.main-content-right
		.head-main-content.clearfix
			.head-main-content__sort.sort-block
				.sort-block__text Сортировать по
				select.sort-block__select.sort-select
					option.sort-select__item по цене
					option.sort-select__item по популярности
			.head-main-content__view.view-block
				.view-block__text Вид каталога
				ul.view-block__points.view-points
					li.view-points__item.view-points-item
						a(href="#").view-points__link.view-points__link_all Развернуто
					li.view-points__item 
						a(href="#").view-points__link.view-points__link_tab Таблицей
					li.view-points__item 
						a(href="#").view-points__link.view-points__link_list Списком
		
		include ../_common/_content_items.jade	
		.wrap-pages
			ul.wrap-pages__pages.pages
				li.page__item.page-item
					a(href="#").page-item__link &laquo;
				li.page__item.page-item
					a(href="#").page-item__link 1
				li.page__item.page-item
					a(href="#").page-item__link 2
				li.page__item.page-item
					a(href="#").page-item__link 3
				li.page__item.page-item
					a(href="#").page-item__link &raquo;
	.info-page
		.info-page__title Важная информация
		.info-page__text Бла бла бла бла Бла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла бла Бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бла блаБла бла бл