/* Блок информации */

.info-page {
	clear: both;
	margin-bottom: 30px;
	text-align: justify;
}
.info-page__title {
	font-family: OpenSans_Bold;
	font-size: 2.0em;
	color: #333333;
	margin-bottom: 4px;
}
.info-page__text {
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	color: #333333;
	text-indent: 37px;
	line-height: 1.45em;
}
.first.column {
	padding-left: 0; 
}
.last.column {
	padding-right: 0;
}
.column {
	padding: 0 20px;
	box-sizing: border-box;
}