@mixin get-sprite ($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-map $sprite-position no-repeat;

	height: image-height($sprite-image);
	width: image-width($sprite-image);
}

/* Блок категорий */

.category-upper {
	border: 1px #dee1e4 solid;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-bottom: 37px;

	.category-upper__item {
		list-style: none;
		width: 100%;
		background-color: #fbfbfb;
		border-top: 1px #dee1e4 solid;
	}
	.category-upper__item:first-child {
		border-top: 0;
		border-radius: 4px 4px 0 0;
	}
	.category-upper__item:last-child {
		border-radius: 0 0 4px 4px;
	}
	.category-upper__link {
		display: block;
		font-family: OpenSans_Regular;
		font-size: 1.4em;
		color: #333333;
		text-decoration: none;
		padding: 12px 30px 14px;
	}
	.category-upper__item_current {
		background-color: #d9e5ea;
	}
	.category-upper__item:hover {
		background-color: #d9e5ea;
	}
}


/* Блок фильтров */

.filters {
	border: 1px #dee1e4 solid;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	.filters__item {
		position: relative;
		list-style: none;
		width: 100%;
		background-color: #fbfbfb;
		border: 0;
		border-top: 1px #dee1e4 solid;
	}
	.filters__item:after + .filter__item:hover {
		position: absolute;
		content: '';
		width: 18px;
		height: 11px;
		background: url(../img/left-point-up.png) 0 0 no-repeat;
	}
	.filters__item:first-child {
		border-top: 0;
		border-radius: 4px 4px 0 0;
	}
	.filters__item:last-child {
		border-radius: 0 0 4px 4px;
	}
	.filters-item__head:hover {
		background-color: #d9e5ea
	}
	.filter-item-head__title {
		display: block;
		font-family: OpenSans_Bold;
		font-size: 1.4em;
		color: #333333;
		text-decoration: none;
		padding: 12px 30px 14px;
	}
	.filters-item__body {
		display: block;
	}
}
.filters__item .filters-item__head:hover.filters-item__head:after {
	position: absolute;
	content: '';
	width: 18px;
	height: 11px;
	top: 18px;
	right: 10px;
	background: url(../img/left-point-down.png) 0 0 no-repeat;
}
.filters__item_active .filters-item__head:hover.filters-item__head:after {
	background: url(../img/left-point-up.png) 0 0 no-repeat;
}
/* Radio Check */

.filter-radio {
	height: 100%;
	padding: 5px 30px 0 30px;

	.filter-radio__item {
		list-style: none;
		margin-bottom: 16px;
	}
	.filter-radio__point {
		display: none;
	}
	.filter-radio__text {
		display: block;
		cursor: pointer;
		position: relative;
		padding-left: 29px;
		padding-bottom: 1px; 
		font-family: OpenSans_Regular;
		font-size: 1.4em;
	}

	$check-map: sprite-map('check/*.png', $spacing: 70px, $layout: horizontal);

	.filter-radio__text:before {
		content: '';
		display: inline-block;
		width: 19px;
		height: 19px;
		margin-right: 10px;
		position: absolute;
		left: 0;
		bottom: 1px;
		@include get-sprite($check-map, radio-un);
	}
	.filter-radio__text:hover:before {
		@include get-sprite($check-map, radio-hover);
	}
	.filter-radio__point:checked + .filter-radio__text:before {
		@include get-sprite($check-map, radio-chk);
	}
}


/* Checkbox Style */

.filter-check {
	height: 100%;
	padding: 5px 30px 0 30px;
	margin-bottom: 12px;

	.filter-check__item {
		list-style: none;
		margin-bottom: 17px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.filter-check__point {
		display: none;
		margin-bottom: 16px;
	}
	.filter-check__text {
		display: block;
		cursor: pointer;
		position: relative;
		padding-left: 29px;
		padding-bottom: 1px; 
		font-family: OpenSans_Regular;
		font-size: 1.4em;
	}

	$check-map: sprite-map('check/*.png', $spacing: 70px, $layout: horizontal);

	.filter-check__text:before {
		content: '';
		display: inline-block;
		width: 19px;
		height: 19px;
		margin-right: 10px;
		position: absolute;
		left: 0;
		bottom: 1px;
		@include get-sprite($check-map, check-un);
	}
	.filter-check__text:hover:before {
		@include get-sprite($check-map, check-hover);
	}
	.filter-check__point:checked + .filter-check__text:before {
		@include get-sprite($check-map, check-chk);
	}
}
.filters-check-reset__wrap {
	height: 37px;

	.filters-check-reset {
		font-family: OpenSans_Regular;
		font-size: 1.4em;
		text-decoration: underline;
		color: #5db2fc;
		margin-left: 30px;
		cursor: pointer;
	}
}

/* Price Style */

.filter-price__in-wrap {
	width: 50%;
	float: left;
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 18px;
	padding-left: 29px;
}
.filter-price__out-wrap {
	width: 44%;
	float: right;
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 18px;
	padding-right: 20px;
}
.filter-price__input {
	width:60px;
	height: 28px;
	line-height: 1.4em;
	font-family: OpenSans_SemiBold;
	font-size: 1.4em;
	color: #333333;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px #ebedef solid;
}
.filter-price__text {
	font-family: OpenSans_Regular;
	font-size: 1.4em;
	margin-right: 13px;
	color: #333333;
}
.filter-price__wrap-slider {
	clear: both;
	height: 34px;
}
.filter-price__slider {
	margin: 0 auto;
	width: 280px;
}
.ui-slider-horizontal {
	height: 3px;
	border: 0;
	background: #dee1e4;
}
.ui-widget-header {
	background: #ff6600;
	border-radius: 0;
	border: 0; 
}
.ui-corner-all {
	position: relative;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	position: absolute;
	top: 3px;
	margin-left: -4px;
	border: 0;
	width: 8px;
	height: 14px;
	border: 0;
	border-radius: 0;
	background: url("../img/slider-point.png") 0 0 repeat;
	outline:none;
}
/* Color Check */

.filter-color-block {
	margin: 0;
	margin-left: 21px;
	padding: 0;
	padding-bottom: 10px;
	width: 230px;
}
.filter-color-block__item {
	list-style: none;
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px #dee1e4 solid;
	margin: 9px;

	.filter-color-block__link {
		display: block;
		text-indent: -9999px;
		height: 100%;
	}
}
.filter-color-block__item:nth-child(4n) {
	margin-right: 0;
}
.filter-color-block__item:hover {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(255,102,0,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(255,102,0,1);
	box-shadow: 0px 0px 1px 1px rgba(255,102,0,1);
}
.filter-color-block__item_current {
	-webkit-box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
	-moz-box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
	box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
}
.filter-color-block__item_current:hover {
	-webkit-box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
	-moz-box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
	box-shadow: 0px 0px 1px 2px rgba(255,102,0,1);
}

