ul.products
	li.products__item
		ul.product__slide
			li.product-slide__img
				img(src="img/item/1-1.png" alt="1").product-slide-img.product-slide-img_current
			li.product-slide__img
				img(src="img/item/1-2.png" alt="2").product-slide-img
			li.product-slide__img
				img(src="img/item/1-3.png" alt="3").product-slide-img
			li.product-slide__img
				img(src="img/item/1-4.png" alt="4").product-slide-img
		.product__article Артикул 189238
		.product__title Samsung GT-I9301I GALAXY S 3
		.product__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц... 
		ul.product__charact
			li.product-charact__item
				.product-charact-item__left Тип SIM-карты
				.product-charact-item__rigth Micro-SIM
			li.product-charact__item
				.product-charact-item__left Количество SIM-карт
				.product-charact-item__rigth 1
			li.product-charact__item
				.product-charact-item__left Цвет
				.product-charact-item__rigth Белый
			li.product-charact__item
				.product-charact-item__left ОС
				.product-charact-item__rigth Android
			li.product-charact__item
				.product-charact-item__left Связь 3G
				.product-charact-item__rigth Есть
			li.product-charact__item
				.product-charact-item__left 4G (LTE)
				.product-charact-item__rigth Нет
			li.product-charact__item
				.product-charact-item__left GPS-модуль
				.product-charact-item__rigth Есть
		.product__rating
			ul.product-rating__stars
				li.product-rating__stars_red +
				li.product-rating__stars_red +
				li.product-rating__stars_red +
				li.product-rating__stars_red +
				li.product-rating__stars_white -
			.product-rating__number 4
		.product__wrap-price-shop
			.product__price 11290p
			.product__presence В наличие
			input(type="button" value="В корзину").product__shop-button