ul.category-upper
	li.category-upper__item.category-upper-item
		a(href="#").category-upper-item__link Флагманы
	li.category-upper__item.category-upper-item.category-upper-item_current
		a(href="#").category-upper-item__link.category-upper-item__link_current Бюджетная линейка