ul.category-upper
	li.category-upper__item
		a(href="#").category-upper__link Флагманы
	li.category-upper__item.category-upper__item_current
		a(href="#").category-upper__link.category-upper__link_current Бюджетная линейка