ul.filters
	li.filters__item.filters-item
		.filters-item__head.filter-item-head
			a(href="#").filter-item-head__title Наличие в магазинах
		.filters-item__body.filter-body 
			ul.shop-radio
				li.shop-radio__item
					input(id="shopAll" type="radio" name="gender" checked).shop-radio-item__point
					label(for="shopAll").shop-radio-item__text Во всех магазинах
				li.shop-radio__item
					input(id="shopIn" type="radio" name="gender").shop-radio-item__point
					label(for="shopIn").shop-radio-item__text В ближайшем магазине
	li.filters__item.filters-item
		.filters-item__head.filter-item-head
			a(href="#").filter-item-head__title Бренды
		.filters-item__body.filter-body
			ul.brand-check
				li.brand-check__item
					input(id="lenovo" type="checkbox" name="check" value="lenovo" checked).brand-check-item__point
					label(for="lenovo").brand-check-item__text Lenovo
				li.brand-check__item
					input(id="Apple" type="checkbox" name="check" value="Apple" checked).brand-check-item__point
					label(for="Apple").brand-check-item__text Apple
				li.brand-check__item
					input(id="Samsung" type="checkbox" name="check" value="Samsung" checked).brand-check-item__point
					label(for="Samsung").brand-check-item__text Samsung
				li.brand-check__item
					input(id="Asus" type="checkbox" name="check" value="Asus").brand-check-item__point
					label(for="Asus").brand-check-item__text Asus
				li.brand-check__item
					input(id="Motorola" type="checkbox" name="check" value="Motorola").brand-check-item__point
					label(for="Motorola").brand-check-item__text Motorola
	li.filters__item.filters-lower-item
		.filters-item__head.filter-item-head
			a(href="#").filter-item-head__title Цена
		.filters-item__body.filter-body бла бла бла
	li.filters__item.filters-item
		.filters-item__head.filter-item-head
			a(href="#").filter-item-head__title Цвет
		.filters-item__body.filter-body бла бла бла
	li.filters__item.filters-item
		.filters-item__head.filter-item-head
			a(href="#").filter-item-head__title Операционные системы
		.filters-item__body.filter-body 
			ul.system-check
				li.system-check__item
					input(id="Android" type="checkbox" name="check" value="Android" checked).system-check-item__point
					label(for="Android").system-check-item__text Android
				li.system-check__item
					input(id="iOS" type="checkbox" name="check" value="iOS" checked).system-check-item__point
					label(for="iOS").system-check-item__text iOS
				li.system-check__item
					input(id="WindowsMobile" type="checkbox" name="check" value="WindowsMobile" checked).system-check-item__point
					label(for="WindowsMobile").system-check-item__text Windows Mobile
				li.system-check__item
					input(id="Symbian" type="checkbox" name="check" value="Symbian").system-check-item__point
					label(for="Symbian").system-check-item__text Symbian
				li.system-check__item
					input(id="Custom" type="checkbox" name="check" value="Custom").system-check-item__point
					label(for="Custom").system-check-item__text Custom