header.low-header
	.content
		.low-header-left
			.logo
				a(href="/")
					img(src="img/logo.png" alt="Логотип").logo__img
		.low-header-right
			.search-form
				input(type="text" placeholder="Что будем искать").search-form__input
				input(type="button" value="Найти").search-form__button
			ul.menu-head
				li.menu-head__item.menu-item
					a(href="#").menu-item__link Карта проезда
				li.menu-head__item.menu-item
					a(href="#").menu-item__link История заказов
				li.menu-head__item.menu-item
					a(href="#").menu-item__link Корзина