header.upper-header
	.content.clearfix
		.upper-header-left
			+socials('head',['fb', 'vk', 'tw'],['Facebook', 'В контакте', 'Twitter'],['http://facebook.com','http://vk.com','http://twitter.com'])
		.upper-header-right
			.map-point
				a(href="#").map-point__link ул. Маяковская 6, офис 17
			.phone-point
				a(href="#").phone-point__link +7 (921) 123-12-13