@font-face {
    font-family: 'Rouble';
    src: url('rouble.eot');
    src: url('rouble.eot?#iefix') format('embedded-opentype'),
         url('rouble.woff') format('woff'),
         url('rouble.ttf') format('truetype'),
         url('rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}